
############################################
#                                          #
#         Do not modifie this file.        #
#        make a copy of it as .env:        #
#           $ cp env-example .env          #
#                                          #
############################################


## App configuration

# Node environment, default: development
# set to: production for production
NODE_ENV=development
# Port application will listen at
# (can also be a path to a socket file)
PORT=4000
# Transfer directory (where archives to be transfered are stored).
# Must be a full path to the directory and directory must exists (it won't be created).
# (without trailing '/')
TRANSFERS_DIRECTORY='/var/www/simpletransfer/transfersData'
# Dropbox directory (where user drops files to be transfered).
# Must be a full path to the directory and directory must exists (it won't be created).
# (without trailing '/')
DROPBOX_DIRECTORY='/var/www/simpletransfer/dropbox'
# Session secret, change for a random string before deployment
SESSION_SECRET="my_secret"



## Database configuration

# sqlite data base file
DATABASE_URL="file:./simpletransfer.sqlite"



## Nodemailer configuration ##

# Email address mails will be send from
MAIL_SENDER='my_mail@my_domain.com'

# Prefix added before mail subject
MAIL_SUBJECT_PREFIX='[SimpleTransfer] '

# Transport configuration
MAIL_HOST='mail.my_domain.com'
MAIL_PORT=587
MAIL_SECURE=0
MAIL_AUTH_USER='my_mail@my_domain.com'
MAIL_AUTH_PASS='my_password'

# Development configuration (ethereal.email)
DEV_MAIL_HOST='smtp.ethereal.email'
DEV_MAIL_PORT=587
DEV_MAIL_AUTH_USER='my_user@ethereal.email'
DEV_MAIL_AUTH_PASS='my_password'

